@using Microsoft.EntityFrameworkCore.Internal
@using Trailhead.Models
@using Trailhead.Models.API
@model IList<Trailhead.Models.API.NationalPark>


@foreach (var park in Model)
{
    <a asp-action="index" asp-controller="trail"></a>

    <p></p>

  


    <p>@park.Lat</p>
}